{% extends "base.html" %}

{% block content %}

<h1>Giriş yap</h1>

{% if form.errors %}
<div class="flash flash-error">
  Kullanıcı adınız veya parolanız geçersiz. Lütfen tekrar deneyin.
</div>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  {{ form.as_p }}

  <div class="form-footer">
    <button type="submit" class="btn btn-primary">Gönder</button>
  </div>
</form>
{% endblock %}
